<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Accueil Kademio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include("components/navbar") %>
    <div class="w3-container">
        <div class="w3-col w3-container m6 l6">
            <% const pathHist = rootPath + "/hist/hist0.html";
            const pathMath = rootPath + "/math/math0.html";
            const pathLatin = rootPath + "/latin/latin0.html";
            const pathSci = rootPath + "/sci/sci0.html";
            %>
            <a href=<%= pathHist.split(' ').join('%20') %>>
                <div class="w3-card w3-padding-24 w3-margin-bottom w3-center">
                    <h1>Histoire</h1>
                </div>
            </a>
            <a href=<%= pathMath.split(' ').join('%20') %>>
                <div class="w3-card w3-padding-24 w3-margin-bottom w3-center">
                    <h1>Mathématiques</h1>
                </div>
            </a>
        </div>
        <div class="w3-col w3-container m6 l6">
            <a href=<%= pathLatin.split(' ').join('%20') %>>
                <div class="w3-card w3-padding-24 w3-margin-bottom w3-center">
                    <h1>Latin</h1>
                </div>
            </a>
            <a href=<%= pathSci.split(' ').join('%20') %>>
                <div class="w3-card w3-padding-24 w3-margin-bottom w3-center">
                    <h1>Physique-Chimie</h1>
                </div>
            </a>
        </div>
    </div>
</body>

</html>