<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include("components/navbar") %>
    <div class="container-fluid">
        <div class="col-sm-4">
            <%- include("components/menu") %>
        </div>
        <div class="col-sm-8">
            <p>Dans cette colonne il n'y a que les cours de la classe <b><%=currentLevel %></b> </p>
            <ul>
                <% for(const theme of allContent.themes) { %>
                <li><b><%= theme.title %></b>
                </li>
                <% for (const lesson of allContent.lessons) {
                    let Path = rootPath
                     + "/"
                     + lesson.theme 
                     + "/"
                     + lesson.title.replace(':', '').replace('/', '') 
                     + "/"
                     + lesson.id.substring(lesson.id.length - 2, lesson.id.length) 
                     + ".html";
                     Path = Path.split(' ').join('%20');
                     if (lesson.level.includes(currentLevel) && lesson.theme === theme.id) { %>
                <li><a href=<%= Path %>><%= lesson.title %></a></li>
                <% }
                }
            } %>
            </ul>
        </div>
    </div>
</body>

</html>