<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= currentLesson.title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="../../../templates/questionOnClick.js"></script>
</head>

<body>
    <%- include("components/navbar") %>
    <div class="w3-container">
        <div class="w3-col w3-container s6 m4 l3">
            <%- include("components/lessonMenu") %>
        </div>
        <div class="w3-col w3-container s6 m8 l9">
            <% for(const theme of subjectContent.themes) { 
                if ( theme.id == currentLesson.theme) { %>
            <a href=<%= indexPath.split(' ').join('%20') %>>
                Accueil
            </a>
            &rarr;
            <% 
            const subjectPath = 
                rootPath 
                + "/" 
                + subjectContent.id 
                + "/"
                + subjectContent.id 
                + "0.html";  
            %>
            <a href=<%= subjectPath.split(' ').join('%20') %>>
                <%= subjectContent.title %>
            </a>
            &rarr; <%= theme.title %>
            <% 
            } 
            } 
            %>
            <%- include("components/questionContent") %>
        </div>
    </div>
</body>

</html>