<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Title Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.8.0/css/bulma.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    <%- include("components/navbar") %>
    <div class="w3-container">
        <div class="w3-col w3-container s6 m6 l4">
            <%- include("components/subjectPageMenu") %>
        </div>
        <div class="w3-col w3-container s6 m6 l8">
            <div class="w3-display-container" style="height:36px;">
                <div class=" w3-display-left w3-xlarge">
                    <a href=<%= indexPath.split(' ').join('%20') %>>
                        Accueil
                    </a>
                    &rarr; <%= subjectContent.title %>
                </div>
                <div class="w3-display-right w3-xlarge">
                    <% pathArray = subjectLevelPathCreator(subjectContent, rootPath);
                    if (currentLevel == "0"){ %>
                    <b>Tous</b>
                    - <a href=<%= pathArray[3] %>>5ème</a>
                    - <a href=<%= pathArray[2] %>>4ème</a>
                    - <a href=<%= pathArray[1] %>>3ème</a>
                    <%} else if (currentLevel == "3"){ %>
                    <a href=<%= pathArray[0] %>>Tous</a>
                    - <a href=<%= pathArray[3] %>>5ème</a>
                    - <a href=<%= pathArray[2] %>>4ème</a>
                    - <b>3ème</b>
                    <%} else if (currentLevel == "4"){ %>
                    <a href=<%= pathArray[0] %>>Tous</a>
                    - <a href=<%= pathArray[3] %>>5ème</a>
                    - <b>4ème</b>
                    - <a href=<%= pathArray[1] %>>3ème</a>
                    <%} else if (currentLevel == "5"){ %>
                    <a href=<%= pathArray[0] %>>Tous</a>
                    - <b>5ème</b>
                    - <a href=<%= pathArray[2] %>>4ème</a>
                    - <a href=<%= pathArray[1] %>>3ème</a>
                    <% } %>
                </div>
            </div>
            <%- include("components/subjectPageContent") %>
        </div>
    </div>
</body>

</html>