<!--
    Ce fichier est celui qui crée la table des matières
    Pour le moment le fichier en question est sous-ligné
    Les thèmes sont en gras
-->
<ul class="w3-ul w3-hoverable">
    <% for(const subjectLoop of allSubjectsContent) { 
       const pathSubject = rootPath + "/" + subjectLoop.id + "0.html"; 
       if (subjectLoop == subjectContent) { %>
    <li class="w3-blue w3-padding-small">
        <a href=<%= pathSubject.split(' ').join('%20') %>>
            <b> <%= subjectLoop.title %></b>
        </a>
    </li>
    <% } else { %>
    <li class="w3-padding-small">
        <a href=<%= pathSubject.split(' ').join('%20') %>>
            <b><%= subjectLoop.title %></b>
        </a>
    </li>
    <% } %>
    <% for (const theme of subjectLoop.themes) {
    %>
    <li class="w3-padding-small">
        <a href=<%= pathSubject.split(' ').join('%20') %>>
            <%= theme.title %>
        </a>
    </li>
    <% } 
 } 
 %>
</ul>