<!--
    Ce fichier est celui qui crée la table des matières
    Pour le moment le fichier en question est sous-ligné
    Les thèmes sont en gras
-->
<ul class="w3-ul w3-hoverable">
    <% for(const subjectLoop of allSubjectsContent) { 
       const pathSubject = pathTransformer(subjectPathCreator(subjectLoop, "0", rootPath));
       if (subjectLoop == subjectContent) { 
    %>
    <li class="w3-blue w3-padding-small">
        <a href=<%= pathSubject %>>
            <b> <%= subjectLoop.title %></b>
        </a>
    </li>
    <% } else { %>
    <li class="w3-padding-small">
        <a href=<%= pathSubject %>>
            <b><%= subjectLoop.title %></b>
        </a>
    </li>
    <% } %>
    <% for (const theme of subjectLoop.themes) {
    pathTheme = pathTransformer(pathSubject + "#" + theme.id);
    %>
    <li class="w3-padding-small">
        <a href=<%= pathTheme %>>
            <%= theme.title %>
        </a>
    </li>
    <% } 
 } 
 %>
</ul>