<div class="w3-display-container" style="height:50px;">
    <div class=" w3-display-left w3-xlarge">
        <b>Leçon:</b> <%= currentLesson.title %>
    </div>
    <% if (lessonJson.questions.length > 0) {
        %>
    <div class=" w3-display-right">
        <a href=<%= questionPath %>>
            <button class="w3-button w3-round w3-white w3-border w3-border-blue">
                Accès aux questions
            </button>
        </a>
    </div>
    <% } %>
</div>
<div class="w3-container">
    <div style="text-align: left; margin-left: 10%; margin-right: 10%;">
        <%-pageContent%>
        <br />
        page <%=counter%> / <%=lessonJson.pages.length%>
    </div>
</div>
<br />

<% if (counter < lessonJson.pages.length) {  %>
<div>
    <form method="get" action=<%= nextLessonPagePath %>>
        <button type="submit" class="w3-button w3-round w3-white w3-border w3-border-blue">
            Page suivante
        </button>
    </form>

</div>
<% } %>
<br />
<% if (counter > 1) { %>
<div>
    <form method="get" action=<%= lastLessonPagePath %>>
        <button class="w3-button w3-round w3-white w3-border w3-border-blue">
            Page précédente
        </button>
    </form>
</div>
<% } %>