<div class="w3-display-container" style="height:50px;">
    <div class=" w3-display-left w3-xlarge">
        <b>Questions:</b> <%= currentLesson.title %>
    </div>
    <% const lessonPath = 
        rootPath
        + "/"
        + subjectContent.id
        + "/"
        + currentLesson.id.split('/')[1] 
        + "/"
        + currentLesson.id.substring(currentLesson.id.length - 2, currentLesson.id.length) 
        + ".html";
    %>
    <div class=" w3-display-right">
        <a href=<%= lessonPath.split(' ').join('%20') %>>
            <button class="w3-button w3-round w3-white w3-border w3-border-blue">
                Retour au cours
            </button>
        </a>
    </div>
</div>
<%
    let questionContent = questionJson.question;  <!-- questionContent is of type string -->
    const folder =  lessonContent.id + "/latex/"
    const latexFolderPath = dataPath + folder;
    questionContent = latexReplacement(questionContent, latexFolderPath)
%>

<div class="w3-container">
    <p>Question : <%= counter %> / <%= lessonContent.questions.length %>
        <!-- Question -->
        <!-- questionContent ici avec le Latex! -->
        <%-questionContent%>
    </p>
    <!-- Réponse -->
    <% for (const choix of questionJson.choices){ %>
    <% if (choix.charAt(0) == "*"){ %>
    <input type="radio" name="answer" value="" onclick="clickGood()">
    <%= choix.substring(1, choix.length) %>
    <% } else { %>
    <input type="radio" name="answer" value="" onclick="clickFalse()">
    <%= choix %>
    <% } %>
    <br>
    <% } %>
</div>
<br />
<div>
    <p id="answer">
    </p>
    <div id="explain" style="display: none;">
        <%- questionJson.explain %>
    </div>
    <br />
</div>
<% if (counter < lessonContent.questions.length) {
    const nextQuestionPath = 
        rootPath
        + "/"
        + subjectContent.id
        + "/"
        + currentLesson.id.split('/')[1]
        + "/question"
        + (counter + 1)
        + ".html";
%>
<div>
    <form method="get" action=<%= nextQuestionPath.split(' ').join('%20') %>>
        <button type="submit" class="w3-button w3-round w3-white w3-border w3-border-blue">
            Question suivante
        </button>
    </form>
    <% } %>
</div>
<p>
</p>
<% if (counter > 1) {
    const lastQuestionPath = 
        rootPath
        + "/"
        + subjectContent.id
        + "/"
        + currentLesson.id.split('/')[1]
        + "/question"
        + (counter - 1)
        + ".html";
%>
<div>
    <form method="get" action=<%= lastQuestionPath.split(' ').join('%20') %>>
        <button class="w3-button w3-round w3-white w3-border w3-border-blue">
            Question précédente
        </button>
    </form>
    <% } %>
</div>