<% let path = rootPath
             + "/"
             + "index.html";
             path = path.split(' ').join('%20');
%>
<div> <a href=<%= path %>>
        Accueil</a> --> Math -->
    <% for(const theme of allContent.themes) { 
        if (theme.id == currentLesson.theme) {
        %>
    <%= theme.title %>
    <% } 
        } %>
</div>

<h1><b>Leçon:</b> <%= currentLesson.title %></h1>
<div class="container">

    <p>Question : <%= counter %> / <%= lessonContent.questions.length %>
        <!-- Question -->
        <%- questionJson.question %>
    </p>
    <!-- Réponse -->
    <% for (const choix of questionJson.choices){ %>
    <% if (choix.charAt(0) == "*"){ %>
    <input type="radio" name="" value="" onclick="clickGood()">
    <%= choix.substring(1, choix.length) %>
    <% } else { %>
    <input type="radio" name="" value="" onclick="clickFalse()">
    <%= choix %>
    <% } %>
    <br>
    <% } %>
</div>
<p id="answer"> </p>