<% let indexPath = rootPath
             + "/"
             + "index.html";
             indexPath = indexPath.split(' ').join('%20');
%>
<div> <a href=<%= indexPath %>>
        Accueil</a> --> Math -->
    <% for(const theme of allContent.themes) { 
        if (theme.id == currentLesson.theme) {
        %>
    <%= theme.title %>
    <% } 
        } %>
</div>

<h1><b>Leçon:</b> <%= currentLesson.title %></h1>
<% let lessonPath = rootPath
+ "/"
+ currentLesson.title.replace(':', '').replace('/', '') 
+ "/"
+ currentLesson.id.substring(currentLesson.id.length - 2, currentLesson.id.length) 
+ ".html";
lessonPath = lessonPath.split(' ').join('%20');
%>
<div><a href=<%= lessonPath %>> Retour au cours</a></div>
<div class="container">
    <p>Question : <%= counter %> / <%= lessonContent.questions.length %>
        <!-- Question -->
        <%- questionJson.question %>
    </p>
    <!-- Réponse -->
    <% for (const choix of questionJson.choices){ %>
    <% if (choix.charAt(0) == "*"){ %>
    <input type="radio" name="answer" value="" onclick="clickGood()">
    <%= choix.substring(1, choix.length) %>
    <% } else { %>
    <input type="radio" name="answer" value="" onclick="clickFalse()">
    <%= choix %>
    <% } %>
    <br>
    <% } %>
</div>
<div>
    <p id="answer"> </p>
    <div id="explain" style="display: none;"> <%- questionJson.explain %> </div>
</div>
<% if (counter < lessonContent.questions.length) {
    let nextQuestionPath = rootPath
             + "/"
             + currentLesson.title.replace(':', '').replace('/', '') 
             + "/question"
             + (counter + 1)
             + ".html";
             nextQuestionPath = nextQuestionPath.split(' ').join('%20'); %>
<div>
    <form method="get" action=<%= nextQuestionPath %>>
        <button type="submit">Question suivante</button>
    </form>
    <% } %>
</div>
<p></p>
<% if (counter > 1) {
    let lastQuestionPath = rootPath
             + "/"
             + currentLesson.title.replace(':', '').replace('/', '') 
             + "/question"
             + (counter - 1)
             + ".html";
             lastQuestionPath = lastQuestionPath.split(' ').join('%20'); %>
<div>
    <form method="get" action=<%= lastQuestionPath %>>
        <button type="submit">Question précédente</button>
    </form>
    <% } %>
</div>